*{
    margin:0;
    padding:0;
    font-family:'Roboto', sans-serif;
}
body{

    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/Dessert3.jpg);
    background-position: centre;
    background-size:cover;
    padding-left:7%;
    padding-right:8%;
    padding-top: 3%;
    box-sizing:border-box;
}
.arrow i{
    text-decoration: none;
    color: white;
}


.starter{
    width:250px;
    height:250px;
    display:inline-block;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing:border-box;
    cursor:pointer;
    margin:10px 15px;
    background-position: center;
    background-size: cover;
    transition:transform 0.5s;
}
figcaption{
    font-weight: bold;
    font-size: 20px;
    color: white;
}
h2{
    color:rgb(255, 255, 255);
    font-size: 35px;
    font-family: cursive;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
}
h3{
    color: rgb(214, 177, 177);
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
}

.s1{
    background-image: url(images/dessert/fruit\ salad.jpg);
}
.s2{
    background-image: url(images/dessert/kulfi.jpg);
}
.s3{
    background-image: url(images/dessert/milkshakes.jpg);
}
.s4{
    background-image: url(images/dessert/faluda.jpg);
}
.s5{
    background-image: url(images/dessert/ice\ creams.jpg);
}
.s6{
    background-image: url(images/dessert/fruit\ juices.jpg);
}
.s7{
    background-image: url(images/dessert/donuts.jpg);
}
.s8{
    background-image: url(images/dessert/cup\ cakes.jpg);
}
.s9{
    background-image: url(images/dessert/almond\ granola.jpg);
}
.s10{
    background-image: url(images/dessert/iced\ white\ chocklate\ mocha.jpg);
}
.starter:hover{
    transform:translateY(-10px);
}
footer p{
    padding-right: 1px;
    padding-left: 900px;
    padding-bottom: 20px;
    color: rgb(214, 177, 177);
    font-weight: bold;
    
}
p1{
    color: rgb(253, 253, 253);
    font-weight: bold;
    font-size: 20px;
    
}
p2{
    
    color:white;
    font-size: 30px;
}