*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
}
body{
    font-family:sans-serif;
    background-image: url(images/background4.jpg);
    background-repeat: no-repeat;

    background-position: centre;
    background-size:cover;
    padding-left:8%;
    padding-right:8%;
    box-sizing:border-box;
}


.navbar{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
.logo img{
   
    float: left;
    padding-left: 2%;
    padding-top: 2%; 
    height:130px;
    width:120px;
    border-radius: 4rem;
    margin-left: 100px;
}
nav ul{
    margin-right:30px;
}
nav ul li {
    display:inline-block;
}
nav ul li a{
    color:rgb(242, 242, 242);
    display:block;
    padding:0 40px;
  
    line-height:70px;
    font-size:20px;
    font-weight:bold;
    transition:0.5s;

   
}
nav ul ul{
    position:absolute;
    top:85px;
    border-top:3px solid #23dbdb;
    opacity:0;
    visibility:hidden;
}
nav ul li:hover > ul{
    top:70px;
    opacity:1;
    
    visibility:visible;
    transition:0.3s linear;
}
nav ul ul li{
    width:150px;
    display:list-item;
    position:relative;
}
nav ul ul li a{
    line-height:50px;
}
nav ul ul li a i{
    margin-left:15px;
}
b{
    font-size: 35px; 
    color:#9def8f"

}








.col{
    flex-basis: 50%;
}
h1{
                
    color:#9def8f;
    font-size: 150px;
    font-style: oblique;
    text-align: center;
    font-family: cursive;
 
    color: #87da78;
    text-shadow: 2px 2px 6px #000000;
    
    
    
}

p{
    
    font-size: 30px;
    line-height:15px;
    text-align: center;
    text-shadow: 2px 2px 8px #000000;
    color:rgb(255, 255, 255);
    font-weight:bold;

   
        
    

}
p1{
    color: white;
}

button{
    width:180px;
    color: #fff;
    font-size:18px;
    padding:12px 0;
    background:#000;
    border:0;
    border-radius: 20px;
    outline:none;
    margin-top:10px;
}
.card{
    width:200px;
    height:230px;
    display:inline-block;
    border-radius: 10px;
    padding:0 25px;
    box-sizing:border-box;
    cursor:pointer;
    margin:10px 15px;
    background-position: center;
    background-size: cover;
    transition:transform 0.5s;
    
}
.card1{
    background-image: url(images/starter.jpg);
}
.card2{
    background-image: url(images/mainmenu.jpg);
}
.card3{
    background-image: url(images/dessert.jpg);
}
.card4{
    background-image: url(images/cafe.jpg);
}
.card:hover{
    transform:translateY(-10px);
}
h5{
    color:#fff;
    text-shadow: 0 0 5px #999;
    font-size:15px;
}
.card p1{
    text-shadow: 0 0 15px #000;
    font-size:12px;
   
    
}
.bottomleft {
    position:absolute;
    bottom: 8px;
    left: 98%;
    font-size: 20px;
  }
  .cards{
    padding-left:16%;
    padding-top:5%;
  }
  .icon1{
    color: blue;
  }
  .icon2{
    color: rgb(0, 208, 255);
  }
  .icon3{
    color: rgb(253, 253, 253); 
  }
  .icon4{
    color: rgb(250, 26, 1);
  }

  @media screen and (max-width:700px)
  {
    h1{
        font-size: 90px;
    }
    p{
        font-size: 25px;
    }

  }